@use '../base/variables' as *;
@use '../base/helpers' as *;



// HEADER element
.header {
  background: $white;

  padding: rem(20) rem(20) rem(10);
  width: 100%;
  // min-height: rem(70);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Contains hamburget icon, searchbar, profile image
  #{&}__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header__nav--btn {
      border: none;
      background: transparent;
    }
  }

  // Hamburger icon
  #{&}__nav--btn {
    font-size: rem(23);
    color: $accent-color;

    @include flexCenter(row);

    &:hover {
      cursor: pointer;
    }

    i {
      &:hover {
        color: $accent-secondary;
      }
    }
  }
  
  // Search input
  #{&}__search {
    position: relative;
    
    input {
      height: rem(40);
      width: 100%;
      padding: rem(7);
      padding-left: rem(40);

      border-radius: rem(7);
      border: rem(1) solid $lighter-grey;
      outline: none;
      background: $white;

      color: $black;
      font-size: rem(14);
      font-weight: 200;
    }

    i {
      position: absolute;
      top: rem(10);
      left: rem(10);

      font-size: rem(20);
      -webkit-text-stroke: 2px $white;
      color: $light-grey;
    }
  }
  
  // Profile icon/button
  #{&}__profile--btn {
    font-size: rem(20);
    color: $accent-color;

    @include flexCenter(row);

    border-radius: 50%;
    border: 2px solid $accent-color;
    width: rem(40);

    overflow: hidden;

    img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      border-color: $accent-secondary;
    }
  }

}

// Quick navigation
.navigation {

  width: 100%;

  padding-top: rem(10);

  ul {
    width: 90%;
    margin: 0 auto;

    @include flexCenter(row);
    justify-content: space-around;

    li {
      a {
        color: $accent-color;

        &:hover {
          color: $accent-secondary;
        }
      }
    }

    .current > * {
      color: $accent-secondary;
    }
    
  }
}

// Dark mode
.dark {
  background: $black;
  color: $white;

  i {
    color: $white;
  }
}